{% extends 'layout.html' %}

{% block content %}


    <div class="col-sm">
<div class="form-group">
<div class='container'>
<div class='login-form'>
<form class="text-center border border-dark p-5" action="/createaccount" method="POST">

            <legend><h1>New Account</h1></legend>


    <div class='row'>
        <div class="col-4">
            {{ form.firstname.label }}</div>
        <div class="col-4">
                {{ form.lastname.label }}</div>
        <div class="col-4">
            {{ form.address.label }}</div>
    </div>

    <div class='row'>
         <div class="col-4">
                {{ form.firstname }}</div>
        <div class="col-4">
                {{ form.lastname }}</div>
        <div class="col-4">{{ form.address }}</div>
    </div>


    <div class='row'>
         <div class="col-4">
                {{ form.city.label }}</div>
        <div class="col-4">
                {{ form.state.label }}</div>
        <div class="col-4">{{ form.zipcode.label }}</div>
    </div>

    <div class='row'>
         <div class="col-4">
                {{ form.city }}</div>
        <div class="col-4">
                {{ form.state }}</div>
        <div class="col-4">{{ form.zipcode }}</div>
    </div>

     <div class='row'>
         <div class="col-4">
                {{ form.email.label }}</div>
        <div class="col-4">
                {{ form.phone.label }}</div>

    </div>

    <div class='row'>
         <div class="col-4">
                {{ form.email }}</div>
        <div class="col-4">
                {{ form.phone}}</div>
    </div>

    <div class='row'>
         <div class="col-4">
                {{ form.pass1.label }}</div>
        <div class="col-4">
                {{ form.pass2.label }}</div>
    </div>

    <div class='row'>
         <div class="col-4">
                {{ form.pass1 }}</div>
        <div class="col-4">
                {{ form.pass2 }}</div>
    </div>
<p><div class='row'>
         <div class="col-1">
             {{ form.recaptcha }}</div></div></p>



 <button class="btn btn-info my-4 btn-block" type="submit">Create Account</button>






</form>
    </div>
    </div>
    </div>
    </div>
{% endblock content %}