<!doctype html>
<html>
  <head>
    {% block head %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

        <meta name="viewport" content="initial-scale=1.0, width=device-width" />
    <title>{% block title %}{% endblock %} - My Webpage</title>

        <script src="https://js.api.here.com/v3/3.1/mapsjs-core.js" type="text/javascript" charset="utf-8"></script>
        <script src="https://js.api.here.com/v3/3.1/mapsjs-service.js" type="text/javascript" charset="utf-8"></script>


        <script>


            var platform = new H.service.Platform({
        'apikey': '{ueadHu6364zDzACmfMAS-obgSaJKsffgGDvts_iaOZo}'
        });
        var defaultLayers = platform.createDefaultLayers();

// Instantiate (and display) a map object:
var map = new H.Map(
    document.getElementById('mapContainer'),
    defaultLayers.vector.normal.map,
    {
      zoom: 10,
      center: { lat: 52.5, lng: 13.4 }
    });

        </script>




    {% endblock head %}
   <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
        <h4>Custom Utah Alcohol preference research database</h4>


    </div>
    <ul class="nav navbar-nav navbar-fixed-top">
    </ul>
    <li class="nav navbar-nav navbar-right">
      {% if current_user.is_authenticated %}<a href = {{ url_for('update_account.updateaccount') }} <span class= "glyphicon glyphicon-log-in">Account Settings</a>
          <a href = {{ url_for('logout.logout') }} <span class= "glyphicon glyphicon-log-in">Logout</a>
          <a href = {{ url_for('profile_dashboard.dashboard') }} <span class= "glyphicon glyphicon-log-in">Dashboard</a>
        {% else %}<a href = {{ url_for('login.login') }} <span class= "glyphicon glyphicon-log-in">Login</a>
          <a href = {{ url_for('create_account.create') }} <span class="glyphicon glyphicon-log-in">Create Account</a>
        {% endif %}
    </li>
  </div>
</nav>
  </head>
  <body>
    {% block your_store %}
    {% endblock your_store %}

    {% block user_image %}
    {% endblock user_image %}

    {% block content %}
    {% endblock content%}

    {% block search_table %}
    {% endblock search_table %}

    {% block hotlist_table %}
    {% endblock hotlist_table %}


      {% block footer %}
          <div id="footer">
      <p>&copy; Copyright 2010 by Phil Harmston</p>

      {% endblock %}
    </div>
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>